fastapi
uvicorn[standard]
python-multipart

langchain
langchain-community
langchain-core
langchain-groq
groq

pinecone

langchain-google-genai

PyPDF
reportlab

python-dotenv

pydantic
requests
tqdm

loguru

SQLAlchemy
alembic
psycopg2-binary
